@import url("./normalize.css");

body {
  font-family: 'Montserrat', sans-serif;
  background: #606dbc;
}

p {
  color: black;
}

table {
  border-spacing: 1.1px; /* cellspacing */
}

td {
  cursor: pointer;
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.68);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.68);
}

.no-cursor-pointer {
  cursor: auto;
}

.nonmetal {
  background: #ff316c;
}
.noble-gas {
  background: #ff8300;
}
.alkali-metal {
  background: yellow;
}
.alkaline-earth-metal {
  background: #31ff36;
}
.metalloid {
  background: #3b3bfa;
}
.halogen {
  background: #b5f7ff;
}
.metal {
  background: pink;
}
.transition-metal {
  background: #31bcff;
}
.lanthanoid {
  background: #ff00ff;
}
.actinoid {
  background: #4caf50;
}

.gray-background {
  background: #d3d3d3;
}

.chemical-element, .range-cell {
  transition: all .05s ease-in-out;
}

.chemical-element:hover, .range-cell:hover {
    transform: scale(1.35);
}
