@import url('./normalize.css');

body {
  font-family: 'Montserrat', sans-serif;
  background: #606dbc;

}

nav {
  background: repeating-radial-gradient(
    circle,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  color: black;
}

.chemical-element {
  border: 1px solid black;
  height: 65px;
  width: 65px;
  background: orange;
}

.atomic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.atomic-info {
  margin: 0px;
}

.atomic-name, .atomic-mass {
  font-size: 9px;
}
