@import url('./normalize.css');

body {
  font-family: 'Montserrat', sans-serif;
  background: #606dbc;

}

nav {
  background: repeating-radial-gradient(
    circle,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  color: black;
}

.chemical-element {
  outline: 1px solid black;
  height: 60px;
  width: 60px;
}

.atomic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.atomic-info {
  margin: 0px;
}

.atomic-name, .atomic-mass {
  font-size: 8px;
}

table {
  border-spacing: 1.1px; /* cellspacing */
}

td {
  cursor: pointer;
}

.element-groups {
  border-spacing: 15.5px;
}

.element-group {
  height: 60px;
  width: 60px;
}

.element-group-text {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}
